body {
    /*color and positioning*/
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /*font stuff*/
    font-size: 120%;
    font-family: Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif;

    /*backrground part*/
    background: 
        linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
        url("media/bg.jpg");
    background-position: center;
    background-size: 110% auto;
    background-attachment: fixed;
}
#main-head { 
    font-size: 60px; 
    font-family: Copperplate, Papyrus, fantasy;
    text-shadow: 2px 2px 4px black;
    transition: all ease 0.5s;
}
#main-head:hover {
    transform: scale(1.09);
}

#a-head {
    text-decoration: none;
    color: rgb(232, 232, 210);
}

#a-head:hover {
    color: gold;
}

#inquiry-form {
    width: 400px;
    height: 440px; 
    background: linear-gradient(0deg, rgb(252, 251, 250), gold, rgb(255, 132, 0));
    border: solid 2px; 
    color: rgb(245, 243, 243); 
    text-shadow: 1px 2px 2px black;
    font-size: medium;
}

.sub-head {
    display: inline-block;
    border: 0.1em groove white;
    border-style: dashed;
    border-radius: 10px;
    padding: 10px;
}

.line-sep {
    border: none;
    border-top: 3px dotted rgb(205, 205, 205);
    width: 60%;
}

/*button design*/
.submit-btn {
      background: linear-gradient(0deg, rgb(243, 212, 212), red);
      color: white;
      font-size: 12px;
      font-weight: bold; 
      padding: 5px 10px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      transition: all 0.3s ease;
      box-shadow: 0 1px 3px black;
      cursor: pointer;
    }
.submit-btn:hover {
    transform: scale(1.04) translateY(-2px);
}

.submit-btn:active {
      transform: rotate(-5deg);
      box-shadow: 0 3px 3px black;
    }
li {
    font-family: "Brush Script MT", cursive;
    font-size: larger;
}    

h4 {
    font-family: Copperplate, Papyrus, fantasy;
    text-shadow: 2px 2px 2px black;
    color: rgb(200, 247, 164);
}

img {
    box-shadow: 0px 0px 3px rgb(247, 245, 245);
    width: 320px;
    transition: all ease 0.8s;
}
img:hover {
    transform: scale(1.02);
    box-shadow: 0px 0px 10px white;
}
